<footer class="footer">
    <div class="row g-3">
        <div class="col-md-3">
            <p><strong>Dirección:</strong></p>
            <p>Calle de las Raquetas, 123
                <br>
                Ciudad Barcelona
                <br>
                País España
            </p>
        </div>
        <div class="col-md-3">
            <p><strong>Teléfono:</strong></p>
            <p>+34 123456789</p>
        </div>
        <div class="col-md-3">
            <p><strong>Email:</strong></p>
            <p><a href="mailto:info@tennisclub.com">info@tennisclub.com</a></p>
        </div>
        <div class="col-md-3">
            <p><strong>Atribuciones:</strong></p>
            <p>Todas las imágenes pertenecen a <a href="https://www.freepik.es/">Freepik</a></p>
        </div>
        <div class="col-12">
            <p>&copy; Universitat Oberta de Catalunya <i class="fas fa-university"></i> Maria Liang.</p>
        </div>
    </div>
</footer>