<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/src/index.html">
            <img src="/src/assets/images/logo-m.png" alt="logo" width="50">
        </a>
        <div class="justify-content-end">
            <div class="navbar-nav" id="nav-content">
                <a class="nav-link" href="/src/participantes.html">Participantes</a>
                <a class="nav-link" href="/src/noticias.html">Noticias</a>
                <a class="nav-link" href="/src/contacto.html">Contacto</a>
            </div>
        </div>
    </div>
</nav>
