<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/src/index.html">
            <img src="/src/assets/images/logo-m.png" alt="logo" width="50">
        </a>
        <div class="mr-auto">
            <div class="nav-item dropdown d-lg-none">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menú
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/src/participantes.html">Participantes</a>
                    <a class="dropdown-item" href="/src/noticias.html">Noticias</a>
                    <a class="dropdown-item" href="/src/contacto.html">Contacto</a>
                </div>
            </div>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <div class="navbar-nav">
                <a class="nav-link" href="/src/participantes.html">Participantes</a>
                <a class="nav-link" href="/src/noticias.html">Noticias</a>
                <a class="nav-link" href="/src/contacto.html">Contacto</a>
            </div>
        </div>
    </div>
</nav>
